@mixin view-label($bg, $c) {
  border: 1px solid $bg;
  background-color: $bg;
  color: $c;
  border-radius: 3px;
  padding: 2px 5px;
  font-weight: inherit;
}

.hide {
  display: none;
}

// semantic fix

// TODO: Bug in my code
//.ui.form .field:last-child, .ui.form .fields:last-child .field {
//  margin-bottom: 1em;
//}

/* inject:imports */
/* endinject */



