<div ng-form="productBusinessOwnersForm" class="productBusinessOwners">
  <div ng-show="editable">
    <form-group>
      <control-label>Business Owner(s)</control-label>
      <user-multi-select required="required" ng-model="product.businessOwners" name="productBusinessOwners"></user-multi-select>

      <div ng-messages="productBusinessOwnersForm.productBusinessOwners.$error">
      </div>

    </form-group>

  </div>
  <div ng-hide="editable">
    <form-group>
      <control-label>Business Owner(s)</control-label>
      <p class="form-control-static">{{product.businessOwners}}</p>
    </form-group>
  </div>
</div>

