<div ng-form="productTeamMembersForm" class="productTeamMembers">
  <div ng-show="editable">
    <form-group>
      <control-label>Team Member(s)</control-label>
      <user-multi-select required="required" ng-model="product.teamMembers" name="productTeamMembers"></user-multi-select>
      <div ng-messages="productTeamMembersForm.productTeamMembers.$error">
      </div>

    </form-group>

  </div>
  <div ng-hide="editable">
    <form-group>
      <control-label>Team Member(s)</control-label>
      <p class="form-control-static">{{product.teamMembers}}</p>
    </form-group>
  </div>
</div>

