<div ng-form="productIntendedStatusForm" class="productIntendedStatus">
  <div ng-show="editable">
    <form-group>
      <control-label>Intended Status</control-label>
      <select class="form-control"
              name="productIntendedStatus"
              ng-model="product.intendedStatus"
              select2
              select2-data="select2Data"
              select2-options="select2Options">
      </select>
    </form-group>

  </div>
  <div ng-hide="editable">
    <form-group>
      <control-label>Intended Status</control-label>
      <p class="form-control-static">{{product.intendedStatus}}</p>
    </form-group>
  </div>
</div>

