<div class="thingRiskLevel">
  <div ng-show="editable">
    <form-group>
      <control-label>{{label}}
        <span ng-if="required">
          <required-indicator></required-indicator>
        </span>
      </control-label>
      <select
        class="form-control"
        name="thingRiskLevel"
        ng-model="ngModel"
        select2
        select2-data="select2Data"
        select2-options="select2Options"
      >
      </select>

      <div ng-transclude>
        <!-- error messages-->
      </div>

    </form-group>

  </div>
  <div ng-hide="editable">
    <form-group>
      <control-label>{{label}}</control-label>
      <p class="form-control-static">{{ngModel}}</p>
    </form-group>
  </div>
</div>

