<div ng-form="productStaffRiskLevelForm" class="productStaffRiskLevel">
  <div ng-show="editable">
    <form-group>
      <control-label>Staff Risk <required-indicator></required-indicator></control-label>
      <select
        class="form-control"
        name="productStaffRiskLevel"
        ng-model="product.staffRisk"
        select2
        select2-data="select2Data"
        select2-options="select2Options"
      >
      </select>

      <div ng-messages="productStaffRiskLevelForm.productStaffRiskLevel.$error">
      </div>

    </form-group>

  </div>
  <div ng-hide="editable">
    <form-group>
      <control-label>Staff Risk</control-label>
      <p class="form-control-static">{{product.staffRisk}}</p>
    </form-group>
  </div>
</div>

