<div class="thingName">
  <div ng-show="editable">
    <form-group>
      <control-label>Name
        <required-indicator></required-indicator>
      </control-label>
      <input type="text" class="form-control" required name="thingName" ng-model="thing.name"
             ng-model-options="{'debounce' : 500}">

      <div ng-show="form.thingName.$dirty">
        <div ng-messages="form.thingName.$error">
          <span ng-message="required">
            <error-block>Name is required</error-block>
          </span>

          <error-block ng-message="conflict">The name {{thing.name}} is already in use</error-block>
        </div>
      </div>

    </form-group>

  </div>
  <div ng-hide="editable">
    <form-group>
      <control-label>Name</control-label>
      <p class="form-control-static">{{thing.name}}</p>
    </form-group>
  </div>
</div>

