<div ng-form="productCurrentStatusForm" class="productCurrentStatus">
  <div ng-show="editable">
    <form-group>
      <control-label>Current Status <required-indicator></required-indicator></control-label>
      <select
        class="form-control"
        name="productCurrentStatus"
        required
        select2
        select2-data="select2Data"
        select2-options="select2Options"
        ng-model="product.currentStatus"
      >
      </select>

      <div ng-show="productCurrentStatusForm.productCurrentStatus.$dirty">
        <div ng-messages="productCurrentStatusForm.productCurrentStatus.$error">
          <span ng-message="required">
            <error-block>Current status is required</error-block>
          </span>
        </div>
      </div>

    </form-group>

  </div>
  <div ng-hide="editable">
    <form-group>
      <control-label>Current Status</control-label>
      <p class="form-control-static">{{product.currentStatus}}</p>
    </form-group>
  </div>
</div>

